#app .header {
  position: relative;
  background-color: #673ab7;
  color: #FFFFFF;
  padding: 25px 0;
}
#app .header .container {
  position: relative;
}
#app .header h1 {
  font-size: 45px;
}
#app .header small {
  color: #e6c3ff;
  font-size: 16px;
}
#app .header #btn-open {
  position: absolute;
  right: 15px;
  bottom: -50px;
  z-index: 9999;
}
#app .header #btn-open:hover {
  background-color: #bb362c;
}
#app .header #btn-open.disable {
  cursor: not-allowed;
  background-color: #962c24;
}
#app .main {
  position: relative;
  margin-bottom: 100px;
}
#app .main h2 {
  font-weight: 400;
}
#app .main .timeline {
  height: 100%;
  width: 2px;
  background-color: #adadad;
  position: absolute;
}
#app .main .event-dot {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  margin-top: 27px;
  border-radius: 50%;
  background-color: #ff9c4c;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}
#app .main .event-dot.open {
  background-color: #5bc0de;
}
#app .main .event-dot.ring {
  background-color: #f0ad4e;
}
#app .main .event-dot.answered {
  background-color: #5cb85c;
}
#app .main .event-info {
  display: inline-block;
  margin-left: 20px;
}
@media (max-width: 768px) {
  #app .main .event-time {
    position: absolute;
    right: 15px;
    top: 27px;
  }
}
#app .main .event-source {
  color: #3f51b5;
}
.footer {
  height: 70px;
  text-align: center;
}
.footer a {
  color: #222;
  vertical-align: middle;
  line-height: 70px;
}
.footer img {
  width: 16px;
  margin-right: 5px;
}
